.page
{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;

    min-height: calc(100vh - 5em - 130px); // 5em - visina navbar-a, 130px - visina footer-a

    padding: 50px;

    h3
    {
        font-size: 70px;
        color: black;
        align-self: center;
        margin-bottom: 30px;
        text-align: center;
        width: 70%;
        @media screen and (max-width: 650px) {width: 100%; font-size: 50px;}
    }

    h4
    {
        font-size: 35px;
        color: black;
        margin-top: 20px;
        @media screen and (max-width: 650px) {font-size: 30px;}
    }

    p
    {
        font-size: 25px;
        color: black;
        margin-bottom: 5px;
    }

    img
    {
        max-width: 200px;
        align-self: center;
    }

    .code
    {
        border: solid black 1px;
        align-self: center;
        font-size: 20px;
        white-space: pre-line;
        background-color: gray;
        min-width: 500px;
        padding: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: 650px) { min-width: 350px; }
    }

    a
    {
        margin-top: 20px;
        font-size: 25px;
        color: blue;
        align-self: center;
        font-weight: bold;
    }
}
